/* Color Palette */
:root {
  --primary-color: #4CAF50;
  --secondary-color: #333;
  --background-color: #f4f4f4;
  --text-color: #333;
  --link-color: #4CAF50;
  --link-hover-color: #45a049;
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

header {
  background-color: #ff9800; /* More interesting color */
  color: #fff;
  padding: 20px 0; /* Increased padding */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 2em; /* Increased font size */
  width: 100%; /* Make header full width */
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: var(--link-hover-color);
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

footer {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 8px 0; /* Reduced padding */
  width: 100%;
  bottom: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.9em; /* Reduced font size */
}

form {
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="date"],
input[type="time"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--link-hover-color);
}

/* Image Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.gallery img {
  width: 80%;
  height: auto;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}